<div class="risk-summary-header">
  {{ i18nService.riskSummary.title }}
</div>
<div class="risk-summary-content">
  <ul class="risk-summary-list">
    <li>
      <span class="dot critical"></span
      ><span class="count">{{ riskData.critical }}</span>
      <span class="label">{{ i18nService.riskSummary.levels.critical }}</span>
    </li>
    <li>
      <span class="dot high"></span
      ><span class="count">{{ riskData.high }}</span>
      <span class="label">{{ i18nService.riskSummary.levels.high }}</span>
    </li>
    <li>
      <span class="dot medium"></span
      ><span class="count">{{ riskData.medium }}</span>
      <span class="label">{{ i18nService.riskSummary.levels.medium }}</span>
    </li>
    <li>
      <span class="dot low"></span><span class="count">{{ riskData.low }}</span>
      <span class="label">{{ i18nService.riskSummary.levels.low }}</span>
    </li>
  </ul>
  <div class="donut-chart-container">
    <div class="donut-chart" [style]="donutChartStyle"></div>
    <div class="donut-hole">
      <span class="risk-summary-total">{{ totalRisks }}</span>
    </div>
  </div>
</div>
