<!-- src/app/components/layout/vulnerabilities-drawer/vulnerabilities-drawer.component.html -->
<!-- <div class="drawer-overlay" [class.open]="isOpen()" (click)="closeDrawer()"></div>
<aside class="drawer-container" [class.open]="isOpen()">
  <div class="drawer-header">
    <h3>Vulnerabilities drawer</h3>
    <button class="close-btn" (click)="closeDrawer()">x</button>
  </div>
  @if (selectedAsset) {
  <div class="drawer-content">
    <div class="section">
      <h4 class="section-title">{{ selectedAsset.name }}</h4>
      <div class="tags-container">
        @for (vuln of selectedAsset.vulnerabilities; track $index) {
        <span class="tag">{{ vuln }}</span>
        }
      </div>
    </div>
    <div class="section">
      <h4 class="section-title purple">Lorem: {{ selectedAsset.ip }}</h4>
    </div>
    <div class="section preview-cards-section">
      <app-vulnerability-preview-card
        [assetName]="selectedAsset.name"
        [ipAddress]="selectedAsset.ip"
        [isCritical]="selectedAsset.isCritical"
      >
      </app-vulnerability-preview-card>
    </div>
  </div>
  }
</aside> -->
