<div class="extra">
  <h2>{{ i18nService.extra.title }}</h2>
  <p>{{ content() }}</p>

  <section class="info-table">
    <table>
      <tbody>
        @for (item of informationList; track $index) {
        <tr>
          <td class="info-label">{{ item.label }}</td>
          <td class="info-value">
            @if (item.icon) {
            <app-custom-icon [label]="item.icon" />&nbsp;&nbsp; }
            {{ item.value }}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </section>

  <!-- Cards Section -->
  <h3>{{ i18nService.extra.subtitle }}</h3>
  <section class="cards-section">
    @for (card of cards; track $index) {
    <app-info-card [content]="card" />
    }
  </section>
</div>
