:host {
  position: relative;
}

.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease;

  &.collapsed {
    width: 80px;

    .main-nav ul li span,
    .bottom-section ul li span,
    .bottom-section .user-info,
    .bottom-section app-custom-icon {
      display: none;
    }

    nav ul li > a {
      width: fit-content;
    }

    .collapse-btn app-custom-icon {
      transform: rotate(180deg);
    }
  }

  .collapse-btn {
    position: absolute;
    top: 24px;
    right: -12px; // Position halfway over the border
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #00732e;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .main-nav {
    padding: 1rem 0;
  }

  .main-nav ul,
  .bottom-section ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li > a {
      text-decoration: none;
      color: #525d73;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 1rem;
      padding: 0.75rem 1.25rem;
      cursor: pointer;
      transition: background 0.2s;
      border-radius: 8px;
      margin: 0.25rem 0.75rem;

      app-custom-icon {
        color: #a3a9b6;
      }

      &:hover {
        background-color: #f0f0f0;
      }

      &.active {
        background-color: #e9faf0;
        color: #00732e;
        font-weight: 500;

        app-custom-icon {
          color: #000000;
        }
      }
    }
  }

  .bottom-section {
    margin-top: auto;

    .user-profile-stub {
      display: flex;
      align-items: center;
      padding: 1rem;
      gap: 0.75rem;
      text-decoration: none;
      color: #525d73;
      border-top: 1px solid #eee;

      .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .user-info {
        display: flex;
        flex-direction: column;
        gap: 0.15rem;
        flex: 1;

        .label {
          font-size: 0.875rem;
          line-height: 1.2;

          &:first-child {
            font-weight: 500;
          }

          &:last-child {
            color: #6b7280;
            font-size: 0.75rem;
          }
        }
      }

      .logout-icon {
        margin-left: auto;
      }
    }
  }
}
