.custom-icon {
  width: var(--custom-icon-size);
  height: var(--custom-icon-size);
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;

  ::ng-deep .custom-icon-svg {
    width: var(--custom-icon-size, 16px);
    height: var(--custom-icon-size, 16px);
    display: block;
  }
}
