<!-- src/app/components/dashboard/remediation-techniques/remediation-techniques.component.html -->
<div class="remediation-container">
  <div class="remediation-column">
    <div class="column-header">
      <h6>♦ remediation technique C</h6>
    </div>
    <div class="cards-wrapper">
      <app-asset-card
        title="Lorem T"
        serverName="Server"
        description="Lorem Ipsum Dolor Sit Amet Consectetur."
      >
      </app-asset-card>
      <app-asset-card
        title="Lorem T"
        serverName="Server"
        description="In Laoreet Elementum Luctus Odio. Id Enim Urna."
      >
      </app-asset-card>
    </div>
  </div>

  <div class="remediation-column">
    <div class="column-header">
      <h6>♦ remediation technique B</h6>
    </div>
    <div class="cards-wrapper">
      <app-asset-card
        title="Lorem S"
        serverName="Server"
        description="Lorem Ipsum Dolor Sit Amet Consectetur."
      >
      </app-asset-card>
      <app-asset-card
        title="Lorem S"
        serverName="Server"
        description="Quis Viverra Elern Pellentesque Lectus Semper In Massa Purus. Auctor Aenean Aenean Senectus Massa Dignissim Vehicula Mi Erat Purus. Praesent Scelerisque Aliquet Metus Sagittis Dictum Sed Sed. Sed Venenatis Sed Urna Quam."
      >
      </app-asset-card>
    </div>
  </div>

  <div class="remediation-column">
    <div class="column-header">
      <h6>♦ remediation technique A</h6>
    </div>
    <div class="cards-wrapper">
      <app-asset-card
        title="Lorem P"
        serverName="Server"
        description="Lorem Ipsum Dolor Sit Amet Consectetur."
      >
      </app-asset-card>
      <app-asset-card
        title="Lorem P"
        serverName="Server"
        description="Lorem Ipsum Dolor Sit Amet Consectetur. Nunc Vitae Tortor Convallis Vitae Arcu. Magna."
      >
      </app-asset-card>
    </div>
  </div>
</div>
