.dashboard {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1.5rem;
  padding: 0;
  height: 100%;
  flex: 1;

  .left-panel,
  .right-panel {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.25rem 1.5rem;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px #0000000d;
    box-shadow: 0px 1px 2px 0px #0000001a;
  }

  .right-panel {
    height: fit-content;
  }

  .risk-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1280px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 980px) {
  .dashboard {
    .risk-section {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
