.dashboard {
  display: grid;
  grid-template-columns: 432px 1fr;
  gap: 1.5rem;
  padding: 0;
  height: 100%;
  max-width: 100%;

  &.sidebar-collapsed {
    grid-template-columns: 432px calc(100vw - 432px - 80px - 4.5rem - 160px) 160px;
  }

  .left-panel,
  .right-panel {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.25rem 1.5rem;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px #0000000d;
    box-shadow: 0px 1px 2px 0px #0000001a;
  }

  .left-panel {
    max-height: calc(100vh - 3rem);
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
      display: none; /* WebKit */
    }
  }

  .right-panel {
    height: fit-content;
    min-width: 0;
    transition: none;
  }

  &.sidebar-collapsed .right-panel {
    grid-column: 2;
  }

  .risk-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1280px) {
  .dashboard {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 980px) {
  .dashboard {
    .risk-section {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #02983e;
}

.risk-summary-card {
  overflow: auto;
  background: white;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
