.description {
  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--color-primary-light);
  }

  p {
    line-height: 1.6;
    color: var(--color-text-primary);
  }
}
